{% extends 'base.html' %}

{% block title %}My Account{% endblock title %}

{% block body %}
{% if user.is_authenticated %}
    <div class="jumbotron">
            <h1 class="display-4">Hello, {{ user.username }}!</h1>
            <p class="lead">
                Your email : {{ user.email }}
                <br/>
                Your twitch username : {{ user.twitch_username }}
                <br/>
                <a href="{% url 'accounts:edit_account' user.pk %}">Edit Account</a> |
                <a href="/accounts/password_change/">Change Password</a>
            </p>
        </div>
        <div class="stream_name">
      </div>
{% endif %}
{% endblock body %}